@import url("/src/color.css");

.container {
  width: 100%;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 10px var(--blue500);
  color: var(--black);
  padding: 2rem 2rem;
}

.title {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

.projectType {
  text-align: center;
  font-size: 1rem;
  color: var(--gray100);
  margin-bottom: 1rem;
}

.contents {
  display: flex;
  gap: 1rem 1rem;
}
