@import url("../../color.css");

.container {
  display: flex;
  width: 100%;
  margin: 1.5rem auto;
}

.label {
  display: flex;
  gap: 0 0.5rem;
  font-weight: 700;
  width: 7.5rem;
}

.container > p {
  text-align: start;
  width: calc(100% - 7.5rem);
}

a {
  text-decoration: none;
  color: var(--blue500);
  text-align: start;
  width: calc(100% - 7.5rem);
}
