@import url("/src/color.css");

.container {
  flex-basis: 25rem;
  flex-grow: 0;

  height: 13rem;
  background-color: white;
  border-radius: 1rem;
  color: var(--black);
  text-align: left;
  padding-left: 2rem;
  margin: 0 auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.img {
  margin: 1rem 0;
  width: 15rem;
  height: 7rem;
  border-radius: 10px;
}
.link {
  text-decoration: none;
  color: var(--blue500);
  margin-bottom: 1rem;
}

.summary {
  margin-top: 1rem;
  font-weight: bolder;
}
