@import url("/src/color.css");

.container {
  height: max-content;
  background-color: var(--blue100);
}

.body {
  padding: 6rem 5rem 4rem 5rem;
  margin: 0 auto;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}

.underline {
  width: 9rem;
  height: 0.1rem;
  background-color: var(--black);
  margin: 0.5rem auto;
}

.left {
  text-align: center;
  font-size: 3rem;
}

.short {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.long {
  line-height: 2;
  color: var(--gray500);
}
