@import url("/src/color.css");

.container {
  height: max-content;
  padding-bottom: 5rem;
}

.intro {
  padding-top: 2rem;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 4rem;
}

.body {
  display: flex;
  margin: 0 auto;
  gap: 2rem;
  flex-wrap: wrap;
}

.underline {
  width: 16rem;
  height: 0.1rem;
  background-color: var(--black);
  margin: 0.5rem auto;
}
