@import url("/src/color.css");

.container {
  background-color: var(--blue100);
  margin: 0 auto;
  padding: 5rem 0;
}

.body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
  gap: 2rem 2rem;
}

.intro {
  padding-top: 2rem;
  text-align: center;
  font-size: 3rem;
}

.underline {
  background-color: var(--black);
  margin: 0.5rem auto 4rem auto;
  width: 10.5rem;
  height: 0.1rem;
}
