@import url("/src/color.css");

.intro {
  padding-top: 6rem;
  text-align: center;
  font-size: 3rem;
}

.underline {
  background-color: var(--black);
  margin: 0.5rem auto 4rem auto;
  width: 7rem;
  height: 0.1rem;
}

.contents {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 0.5rem;
}
