.container {
  width: 80%;
  margin: 0 auto;
  padding: 10vh 0;
}

.body {
  display: flex;
  flex-wrap: wrap;
  gap: 2vh 2vw;
}

.intro {
  padding-top: 2rem;
  text-align: center;
  font-size: 3rem;
}

.hr {
  background-color: #333333;
  border: 0;
  width: 15rem;
  height: 1px;
  margin-bottom: 10vh;
}
