.container {
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px white;
  color: black;
  padding: 2rem 2rem;
}

.title {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

.projectType {
  text-align: center;
  font-size: 1rem;
  color: gray;
  margin-bottom: 1rem;
}

.contents {
  display: flex;
  gap: 1rem 1rem;
}

.contents {
}
